<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
<script src="${base}/public/javascript/bootstrap-datetimepicker.min.js"></script>
<script src="http://cdn.bootcss.com/plupload/2.1.7/plupload.full.min.js"></script>
<script src="${base}/public/javascript/jquery.ztree.core-3.5.min.js"></script>
<script src="${base}/public/javascript/jquery.ztree.excheck-3.5.min.js"></script>
<script src="${base}/public/javascript/jquery.ztree.exedit-3.5.min.js"></script>
<script src="${base}/public/javascript/smoke.min.js"></script>
<script src="${base}/public/javascript/jquery.tmpl.min.js"></script>
<script src="${base}/public/javascript/app.js"></script>
<script src="${base}/public/javascript/otess.utils.js"></script>
<script src="http://cdn.bootcss.com/datatables/1.10.10/js/jquery.dataTables.min.js"></script>
<script src="http://cdn.bootcss.com/datatables/1.10.10/js/dataTables.bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.10.6/moment.min.js"></script>
<script src="${base}/public/javascript/footable.js"></script>
<script src="${base}/public/javascript/footable.sort.js"></script>
<script src="${base}/public/javascript/footable.paginate.js"></script>
<script src="//cdn.bootcss.com/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
