<#include "/views/com/_layout.html" />
<@layout;section>
<#if section="content"> 
<div class="form-group">
  <div class="pull-left">
    <form class="form-inline" action="${base}/mediafile/list" method="get">
    	<div class="form-group form-group-sm">
          <button type="button" class="btn btn-primary btn-sm" id="medias.upload"><span class="glyphicon glyphicon-cloud-upload"></span> 上传资源</button>
	      <button type="button" class="btn btn-primary btn-sm" data-url="${base}/mediafile/setState" id="public" data-state="1"><span class="glyphicon glyphicon-share"></span> 共享</button>
	      <button type="button" class="btn btn-primary btn-sm" data-url="${base}/mediafile/setState" id="private" data-state="0"><span class="glyphicon glyphicon-lock"> 私有</span></button>
	      <button type="button" class="btn btn-primary btn-sm refresh"><span class="glyphicon glyphicon-refresh"></span> 刷新</button>
	      <button type="button" class="btn btn-primary btn-sm" id="delete" data-url="${base}/mediafile/delete"><span class="glyphicon glyphicon-trash"></span> 删除</button>
	    </div>
	    <div class="form-group form-group-sm">
	    	<div class="input-group">
	    	<input type="text" class="form-control" name="m_name" placeholder="资源名称"/>
	    	<span class="input-group-btn">
	        	<button type="submit" class="btn btn-primary btn-sm">
	   			<span class="glyphicon glyphicon-search"></span></button>
	        </span>
	    	</div>        
	    </div>
	    <div class="form-group form-group-sm">
	    	 <input type="text" class="form-control input_date" name="m_s_addtime" readonly placeholder="开始时间"/>
	    </div>
	    <div class="form-group form-group-sm">	    	 
    	 	<div class="input-group">
    		<input type="text" class="form-control input_date" name="m_e_addtime" readonly placeholder="结束时间"/>
	    	<span class="input-group-btn">
	        	<button type="submit" class="btn btn-primary btn-sm">
	   			<span class="glyphicon glyphicon-search"></span></button>
	        </span>
	    	</div>  
	    </div>
	    <div class="form-group form-group-sm">	
	    	<select id="m_type" class="form-control">
	    		<option value="">全部</option>
	    		<#list fileTypePage as x>
	    		<option value="${x.f_id}">${x.f_name}</option>
			  	</#list>
	    	</select>
	    </div>
    </form>
  </div>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</div>

<div class="alert alert-warning" role="alert"> <span class="glyphicon glyphicon-info-sign"></span> 提示：资源上传过程中，请不要离开或刷新此页面</div>
<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr><th style="width:30px;"><input type="checkbox" name="chkall"></th><th style="width:50px;">序号<th>资源名称</th><th>所属用户</th><th>添加时间</th><th>文件大小</th><th>类型</th><th>状态</th></tr>
  </thead>
  <tbody>
  <#list mediaFilePage.getList() as x>
  <tr>
    <td>
    <#if x.tf_media_no=="0" && x.tf_bgsound_no=="0">
    <input type="checkbox" name="chk" data-no="${x.m_no}" value="${x.m_id}">
    <#else>
    <input type="checkbox" name="chk" data-no="${x.m_no}" value="${x.m_id}" alt="被占用" disabled >    
    </#if>
    </td>
    <td>${x.m_id}</td>
    <td>
    <#if x.f_id==3 || x.f_id==2 || x.f_id==4 || x.f_id==6>
    <a href="${base}/public/upload/${x.m_name!}" target="_blank">
    ${x.m_name!}
    </a>
    <#elseif x.f_id==1>
    <a href="${base}/mediafile/txt?m_no=${x.m_no!}" target="_blank">
    ${x.m_name!}
    </a>
    <#elseif x.f_id==5>
    <a href="${base}/mediafile/preview?m_id=${x.m_id!}" target="_blank">
    ${x.m_name!}
    </a>
    <#else>
    ${x.m_name!}
    </#if>
    </td>
    <td>${x.username!}</td>
    <td>${x.m_add_time?string("yyyy-MM-dd HH:mm:ss")} </td>
    <td class="row_size_high">${x.m_size_high!}</td>
    <td>${x.f_name!}</td>
    <td>
    <#if x.m_state==1>
    <span class="label label-info">公有</span>
    <#else>
    <span class="label label-warning">私有</span>    
    </#if>
    </td>
  </tr>
  </#list>
  </tbody>
</table>
<#include "/views/com/_paginate.html" />
<@paginate currentPage=mediaFilePage.pageNumber totalPage=mediaFilePage.totalPage actionUrl="${base}/mediafile/list" urlParas="${searchCon}"/>
</#if>
<#if section="script"> 
<script>
$(function(){
	$("#m_type").on('change',function(){		
		location.href="${base}/mediafile/list?m_type="+$(this).val();	
	})	
	$("#m_type").val(Otess.utils.getQueryString("m_type"));
	$('.row_size_high').each(function(){
		$(this).text(Otess.utils.renderSize($(this).text()));
	});
	var videonum=0;
	var uploader = new plupload.Uploader({ //实例化一个plupload上传对象
		runtimes:"html5,flash,silverlight,html4",
		browse_button : 'medias.upload',
		url : '${base}/mediafile/upload',
		auto_start:true,
		filters: {
		  mime_types : [ //只允许上传图片和zip文件
            { title : "All files", extensions : "zip,jpeg,jpg,gif,png,bmp,mid,wav,mp3,wma,swf,mpg,wmv,avi,flv,mp4,ts,html,htm,ppt,pps,doc,docx,xls,xlsx,pptx,pdf,txt,log" },
          ],
		  prevent_duplicates : false //不允许选取重复文件
		},
		multipart:true,
		multipart_params:{}
	});
	//http://chaping.github.io/plupload/demo/index2.html
	uploader.init(); //初始化
	//绑定文件添加进队列事件
	uploader.bind('FilesAdded',function(uploader,files){
		console.log(files);
		for(var i = 0, len = files.length; i<len; i++){
			var file_name = files[i].name; //文件名
			//构造html来更新UI
			var html = '<tr id="file-' + files[i].id +'"><td>-</td><td>-</td><td>' + file_name + '</td><td></td><td>-</td>-<td id="filesize-'+files[i].id+'">'+Otess.utils.renderSize(files[i].size)+'</td><td id="filetype-'+files[i].id+'">-</td><td class="progress" id="fileprogress-'+files[i].id+'">-</td></tr>';
			
			if($('table tbody').html().trim().length===0){
				$('table tbody').append(html);
			}else{
				$('table:first tbody tr:eq(0)').before(html);
			}
		}
		uploader.start(); //开始上传
	});
	uploader.bind('BeforeUpload',function(uploader,file){
		//console.log(file);
		uploader.settings.multipart_params.size = file.size;
	});

	uploader.bind('UploadComplete',function(uploader,files){
		location.reload();
		//console.log("uploadcompleted");
	});
	uploader.bind('FileUploaded',function(uploader,files,data){
		//console.log(files);
		var result=JSON.parse(data.response);
		console.log(result);
		if(result.code==200){
			$("#filetype-"+files.id).html(result.message);
			$("#filesize-"+files.id).html(Otess.utils.renderSize(result.data.m_size_high));
			//Otess.utils.renderSize($(this).text())
			/*if(result.data.m_type==5){
				$("#fileprogress-"+files.id).html('<span class="label label-danger">转码中</span>')
				$.get('${base}/mediafile/transVideo',{filename:result.data.m_name,m_id:result.data.m_id},function(result){
					if(result.code===200){
						$("#fileprogress-"+files.id).html('<span class="label label-info">转码完成</span>')
					}
					console.log(result);
				})
			}*/
			
		}
		
	});
	//绑定文件上传进度事件
	uploader.bind('UploadProgress',function(uploader,file){
		$('#file-'+file.id+' .progress').html(file.percent + '%');//控制进度条
	});
	$("#public,#private").on("click",function(){
		var ids=$("[name='chk']").CheckVal();
		if(!ids){
			Otess.utils.fail('请选择资源');
			return false;
		}
		new Ajax().post($(this).data("url"),{ids:ids,m_state:$(this).data("state")},function(result){
			console.log(result);
			if(result.code==200){
				Otess.utils.success();
				setTimeout("location.reload()", 2000); //每隔5秒刷新点击量
				//location.reload();
			}
		})
	})
})
</script>
</#if>
</@layout>