<#include "/views/com/_layout.html" />
<@layout;section>
<#if section="content">
<div class="form-group">
  <div class="pull-left">
    <div class="form-inline">
	    <div class="form-group form-group-sm">
	    	<div class="input-group">
	    	<input type="text" class="form-control" placeholder="资源名称"/>
	    	<span class="input-group-btn">
	        	<button type="submit" class="btn btn-primary btn-sm">
	   			<span class="glyphicon glyphicon-search"></span></button>
	        </span>
	    	</div>        
	    </div>
	    <div class="form-group form-group-sm">
	    	 <input type="text" class="form-control input_date" readonly placeholder="开始时间"/>
	    </div>
	    <div class="form-group form-group-sm">	    	 
    	 	<div class="input-group">
    		<input type="text" class="form-control input_date" readonly placeholder="结束时间"/>
	    	<span class="input-group-btn">
	        	<button type="submit" class="btn btn-primary btn-sm">
	   			<span class="glyphicon glyphicon-search"></span></button>
	        </span>
	    	</div>  
	    </div>
    </div>
    <div class="form-inline" style="margin-top:10px;">
	    <div class="form-group form-group-sm">
          <button type="button" class="btn btn-primary btn-sm" id="medias.upload"><span class="glyphicon glyphicon-cloud-upload"></span> 上传资源</button>
	      <button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-share"></span> 共享</button>
	      <button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-lock"> 私有</span></button>
	      <button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-refresh"></span> 刷新</button>
	      <button type="button" class="btn btn-primary btn-sm" id="delete" data-url="${base}/mediafile/delete"><span class="glyphicon glyphicon-trash"></span> 删除</button>
	    </div>
    </div>
  </div>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr><th style="width:30px;"><input type="checkbox" name="chkall"></th><th style="width:50px;">序号<th>资源名称</th><th>所属用户</th><th>添加时间</th><th>文件大小</th><th>费率</th><th>类型</th><th>状态</th></tr>
  </thead>
  <tbody>
  <#list mediaFilePage.getList() as x>
  <tr>
    <td><input type="checkbox" name="chk" value="${x.m_id}"></td>
    <td>${x.m_id}</td>
    <td>${x.m_name}</td>
    <td>${x.m_userid}</td>
    <td>${x.m_add_time?string("yyyy-MM-dd")} </td>
    <td>${x.m_size_high}</td>
    <td>${x.m_price?default(0.00)?string("0.00")}</td>
    <td>${x.f_name}</td>
    <td></td>
  </tr>
  </#list>
  </tbody>
</table>
<#include "/views/com/_paginate.html" />
<@paginate currentPage=mediaFilePage.pageNumber totalPage=mediaFilePage.totalPage actionUrl="${base}/mediafile/list" />
</#if>
<#if section="script">
</#if>
</@layout>