<input type="hidden" name="color" value="000">
<input type="hidden" name="family" value="微软雅黑">
<input type="hidden" name="fontsize" value="12">
<input type="hidden" name="fonttype" value="normal">
<input type="hidden" name="align" value="center">
<input type="hidden" name="valign" value="top">
<input type="hidden" name="lineheight" value="20">
<input type="hidden" name="backgroundcolor" value="">
<input type="hidden" name="scrolltype" value="none">
<input type="hidden" name="speed" value="0">
<input type="hidden" name="index" value="1">
<input type="hidden" name="tf_media_no" value="">
<table class="table table-condensed">
	<tr>
		<td class="text-right">持续时长</td>
		<td colspan="3">
			<ul class="list-inline">
				<li><input type="text" name="linkhour" style="width: 45px;" required="required"
					class="form-control input-sm" value="01" /></li>
				<li>时</li>
				<li><input type="text" name="linkminute" required="required"
					class="form-control input-sm" style="width: 45px;" value="00" /></li>
				<li>分</li>
				<li><input type="text" name="linksecond" value="00" required="required"
					style="width: 45px;" class="form-control input-sm" /></li>
				<li>秒</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="text-right">选择布局</td>
		<td colspan="3"><select name="position"
			class="form-control input-sm" required="required"></select></td>
	</tr>
	<tr>
		<td class="text-right">链接地址</td>
		<td colspan="3"><input type="text" id="url" name="url" required="required"  data-bv-trigger="blur" data-bv-notempty-message='必填项目' class="form-control input-sm"/></td>
	</tr>
</table>